/*
 * Copyright 2019 Alexandre Guinaudeau. All rights reserved.
 */
@import "~@blueprintjs/core/lib/scss/variables";

$left-width: 350px;
$right-width: 0px;
$header-height: 50px;
$footer-height: 0px;

$card-height: 130px;
$card-metadata-width: 175px;
$thumbnail-height: 60px;

$padding: 10px;

.container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    &.header {
        top: 0;
        left: 0;
        background-color: $orange3;
        height: $header-height;
    }

    &.album-selection {
        top: 0;
        left: 0;
        padding-top: $header-height;
    }
    
    &.left-sidebar {
        background-color: $white;
        top: 0;
        left: 0;
        width: $left-width;
        padding-top: $header-height;
        padding-bottom: $footer-height;
        overflow-y: auto;

        .sort-button {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .selected {
            background-color: $light-gray4;
        }

        .img-card {
            height: $card-height;
            padding: $padding;
            vertical-align: middle;
        }

        .img-metadata {
            display: inline-block;
            width: $card-metadata-width;
            margin: 2*$padding 0 $padding $padding;
            text-align: left;
            position: relative;
        }

        .thumbnail {
            display: inline-block;
            height: $thumbnail-height;
            position: absolute;
            margin: $padding;
        }
    }
    
    &.right-sidebar {
        top: 0;
        right: 0;
        background-color: $white;
        width: $right-width;
        padding-top: $header-height;
        padding-bottom: $footer-height;
        overflow-y: auto;

        .exif-metadata {
            display: flow-root;
        }

        .metadata-key {
            float: left;
        }

        .metadata-value {
            float: right;
        }
    }
    
    &.main-photo {
        top: 0;
        left: 0;
        background-color: $black;
        padding-left: $left-width;
        padding-right: $right-width;
        padding-top: $header-height;
        padding-bottom: $footer-height;
        position: absolute;

        .inner {
            position: relative;

            img {
                margin: auto;
                display: block;
    
                &.vertical {
                    max-height: calc(100vh - 50px);
                    max-width: calc(100vw - 350px);
                }
    
                &.horizontal {
                    max-height: calc(100vw);
                    max-width: calc(100vh);
                }
            }
        }
    }
    
    &.footer {
        bottom: 0;
        left: 0;
        background-color: $blue3;
        height: $footer-height;
    }
}

.album-selector {
    width: 500px;
    margin: auto;

    .album-menu {
        min-height: 200px;
    }
}

.subfolders {
    max-height: 400px;
    overflow-y: auto;
}

.status-icon {
    position: relative;
    top: $padding;
    left: 300px;  // $left-width + 50px
}

.tag-icon {
    position: relative;
    top: 80px;
    left: $padding;  // $left-width + 50px
}

.tags-container {
    width: 90%;
}

.center-spinner {
    top: 250px;
    position: relative;
}

.wrap-text {
    word-wrap: break-word;
}

.fixed-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.fixed-position {
    position: absolute;
}

.relative-position {
    position: relative;
}

.align-right {
    right: $padding;
    position: absolute;
}

.flex-unset {
    flex: unset !important;
}

.hidden {
    display: none;
}

.margin-auto {
    margin: auto;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.select-tag-header {
    width: 350px;
    max-height: 40px;
    overflow-y: scroll;
}
